html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7dec2;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  font-family: 'Lobster', cursive;
  width: 300px;
  background-image: linear-gradient(30deg, #fd4c29 0%, #fcbc64 51%, #fd4520 100%);
}

h2 {
  font-family: cursive;
  text-align: center;
  padding-bottom: 5px;
}

img {
  margin: 20px;
}

input {
  height: 40px;
  width: 190px;
  text-align: center;
  margin: 10px;
  border: 3px solid #000333;
  border-radius: 15px;
}

button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 100% auto;
  color: white;
  border-radius: 10px;
  font-family: cursive;
  font-weight: 700;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
}

button:hover{
  transition: 1s ease;
  background-image: linear-gradient(75deg, #f82e06 0%, #f1920b 51%, #b83218 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex,
#loading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex2 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #f8ede0;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: inline-block;
  margin-top: 20px;
  padding: 50px;
  width: auto;
  height: auto;
}

.invisible {
  display: none;
  height: 50px;
  width: 50px;
}

.loading {
  height: 50px;
  width: 50px;
}

#imagecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.image {
  height: 240px;
  width: 320px;
  border: 2px solid rgb(255, 123, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.image:hover {
  border: 2px solid rgb(48, 23, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.1s ease;
}

.enlarge {
  transition: 1s ease;
  position: fixed;
  top: -6%;
  border: 35px solid #140a01;
  height: 97%;
  width: 95%;
}

.invisible {
  display: none;
}

#cross {
  transition: 0.5s ease;
  font-family: cursive;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 90%;
  padding-top: 10px;
  font-weight: bolder;
  cursor: pointer;
  height: 40px;
  width: 70px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid rgb(201, 1, 1);
  color: red;
}

/* custom scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(247, 184, 133);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9100;
}


@media only screen and (max-width: 600px) {
  button {
    width: 40%;
  }

  .enlarge {
    position: fixed;
    top: 20%;
    border: 2px solid black;
    border-radius: 10px;
    height: 40%;
    width: 95%;
  }

  #cross {
    top: 25%;
    left: 75%;
  }

  .image {
    height: 120px;
    width: 130px;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    cursor: pointer;
  }
}